html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', Verdana, Geneva, Tahoma, sans-serif;
  background-color: #FFFF;
  text-align: center;
}

h2 {
  color: #2D4759;
}

a {
  text-decoration: none;
}

#link {
  background-color: #ED9B60;
}

.button {
  margin-top: 0.9em;
  background-color: #2D4759;
  display: inline;
  padding: 18px 28px;
  border-radius: 30px;
  line-height: 18px;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: .02em;
  border: none;
  outline: none;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  color: white;
}

img {
  margin-top: 15px;
  width: 15%;
  height: 25%;
}

fieldset {
  border: none;
}

input {
  text-align: center;
  border: 2px solid;
  margin-left: 10px;
  border-radius: 20px;
  background-color: white;
  border: 1px solid #0A90F0;
  color: #2D4759;
  width: 100%;
  min-height: 2em;
}

input[type="submit"] {
  background-color: #2D4759;
  color: white;
}

:root {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.container { 
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 20px; 
  width: 100%;
  max-width: 1000px; 
  margin: auto; 
}

.form-section {
  display: flex;
  margin-left: 2%; 
  justify-content: center;
  margin-top: 20px; 
  width: 100%;
}

.form-container {
  /* text-align: left; Alinhando o texto à esquerda */
  width: 40%; /* Definindo a largura de cada coluna */
}

.form-container label {
  display: block;
  margin-bottom: 5px;
  font-size: 16px;
  font-family: 'Helvetica Neue', sans-serif; /* Mudando a fonte */
  color: #2D4759; /* Mudando a cor da label */
}

.form-container input,
.form-container select{
  display: inline-block;
  width: 90%;
  padding: 10px;
  margin-bottom: 20px; 
  font-size: 16px;
  border-radius: 20px; 
  border: 2px solid #ccc;
  box-sizing: border-box; 
}

.form-container select{
  margin-right: -50%;
  text-align: center;
}



.submit-button {
  display: block;
  width: 30%;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 50px; /* Tornando as bordas mais arredondadas */
  background-color: #2D4759; /* Alterando cor de fundo */
  color: #FFF4ED; /* Alterando cor do texto */
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; /* Mudando a fonte */
  border: 2px solid transparent; /* Adicionando borda transparente */
  cursor: pointer;
  margin: 8px 35% 0; /* Centralizando e adicionando espaço acima */
}

.submit-button:hover {
  background-color: #2D4759; /* Cor de fundo do botão ao passar o mouse */
}

.form-container select {
  margin-left: -50%;
}


.checkbox-container {
  display: inline-block;
  width: 90%;
  padding: 10px;
  margin-bottom: 20px; 
  display: flex;
  align-items: center;
  
}

.checkbox-container input[type="checkbox"] {
  appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid #2D4759;
  border-radius: 5px; /* Bordas arredondadas */
  outline: none;
  cursor: pointer;
  position: relative;
  margin-right: 10px; /* Espaçamento entre o checkbox e o label */
  background-color: white;
  transition: background-color 0.2s, border-color 0.2s;
}

.dropdown {
  position: relative;
  display: inline-block;
  width: 100%;
}

#selectedRooms {
  box-sizing: border-box; 
  width: 90%;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 20px;
  cursor: pointer;
  color: #2D4759;
  font-size: 16px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 5px;
  max-height: 200px;
  overflow-y: auto;
  width: 100%;
  z-index: 1;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.checkbox-option {
  display: flex;
  align-items: center;
  padding: 5px 10px;
}

.checkbox-option input[type="checkbox"] {
  margin-right: 10px;
  width: 16px;
  height: 16px;
}

.footer {
  width: 100%;
  position: flex; 
  border: none;
  margin-top: 8%;
  padding: 2rem;
  color: white;
  font-weight: 500;
  display: flex;
  justify-content: center; 
  align-items: center;
 gap: 0.2rem; 
 box-sizing: border-box; /* Garante que padding não afete a largura */

}