<!DOCTYPE html>
<html>
    {% block content %}
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="static/quarto.css">
    </head>
    
    <body>
        <img src="static/images/pousadaLogo-sfundo.png" alt="Logo">
        <h2>Check-out</h2>

        <!-- Formulário para pesquisar o CPF -->
        <form id="userForm" action="/checkout" method="post">
            <div class="form-section">
                <div class="form-container">
                    <label for="cpf">CPF do hóspede</label>
                    <input type="text" id="cpf" name="cpf" placeholder="Ex: 12345678910" required>
                </div>                      
            </div>
            <button type="submit" class="submit-button" id="submit-button">Pesquisar</button>
        </form>

        <!-- Tabela para exibir as reservas encontradas -->
        {% if reservas %}
            
            <table>
                <link rel="stylesheet" href="static/listaHospedes.css">
                <thead>
                    <tr>
                        <th>ID da Reserva</th>
                        <th>CPF</th>
                        <th>Quarto</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for reserva, hospede, pessoa in reservas %}
                    <tr>
                        <td>{{ reserva.idreserva }}</td>
                        <td>{{ pessoa.idpessoa }}</td>
                        <td>{{ reserva.codquarto }}</td>
                        <td>
                            <a href="{{ url_for('checkout2', idreserva=reserva.idreserva) }}" class="edit-btn">Check-out</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% elif pesquisa_feita %}
                <p>Nenhuma reserva encontrada.</p>
            {% endif %}

        <!-- Exibe mensagens de erro ou sucesso -->
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul>
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
    </body>
    {% endblock %}
</html>
