<!DOCTYPE html>
    <HTML>

        <head>
            <meta charset="UTF-8">
            <title>Sistema de reserva de pousadas</title>
            <link rel="stylesheet" href="static/index.css">
            <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap">


        </head>
        
        <body>
            <img src="static/images/pousadaLogo-sfundo.png" alt="Logo">
            <fieldset>
                <form method="post" id="playerForm">
                    <div id="playerFields"></div>
                    <a href="/cadastrarQuarto" class="button">Cadastrar quarto</a>
                    <a href="/cadastrarHospede" class="button">Cadastrar hóspede</a>
                </form>
            </fieldset>
            
            <footer>
            <div class="footer">&copy;<span> Pousada Aurora. Todos os direitos reservados. </span></div>
            </footer>
        </body>

    </HTML>
