<!DOCTYPE html>
<html>
{% block content %}
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="static/reserva.css"> 
    <title>Reserva</title>
</head>
<body>
    <img src="static/images/pousadaLogo-sfundo.png" alt="Logo">
    <h2>Reserva</h2>
    <form id="userForm" action="/CadastrarReserva" method="POST">
        <div class="form-section">
            <div class="form-container">
                <label for="cpf">CPF hóspede:</label>
                <input type="number" id="cpf" name="cpf">
                
                <label for="numquarto">Número do quarto:</label>
                <input type="number" id="numquarto" name="numquarto">  
                
                <label for="cupom">Cupom de desconto:</label>
                <input type="number" id="cupom" name="cupom">      	
            </div>
            <div class="form-container">
            	<label for= "dataEntrada">Data de entrada:</label>
            	<input id="datainicio" type="date" name="datainicio">
            	
            	<label for= "dataSaida">Data de saida:</label>
            	<input id="datafim" type="date" name="datafim">
                
                <label for= "dataSaida">Estado da reserva</label>
            	<input id="estado" type="string" name="estado" placeholder="ativa">
            </div>           
        </div>
        <button type="submit" class="submit-button" id="submit-button">Reservar</button>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul>
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
            </form>
        </body>
        {% endblock %}
</html>

