<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/static/checkout.css">
    </head>

    <body>
        <img src="/static/images/pousadaLogo-sfundo.png" alt="Logo">
        <h2>Detalhes do Check-out</h2>

        <div class="form-section">
            <div class="form-container">
                <h3>Informações da Reserva</h3>
                <p><strong>Hóspede:</strong> {{hospedes_info['nome']}}</p>
                <p><strong>CPF:</strong> {{ reserva_info['cpf_hospede'] }}</p>
                <p><strong>Quarto:</strong> {{ reserva_info['numquarto']}}</p>
                <p><strong>Data de Início:</strong> {{ reserva_info['datainicio'] }}</p>
                <p><strong>Data de Fim:</strong> {{ reserva_info['datafim'] }}</p>

                <h3>Valor total</h3>
                <p id="valor-total">R$ 0,00</p> 

                <button type="submit-button" onclick="calcularValorTotal()" class="submit-button">Confirmar Check-out</button>
            </div>
            <div class="form-container">
                <h3>Consumo de Frigobar</h3>
                <form action="{{ url_for('checkout2', idreserva=reserva_info['_id']) }}" method="POST">
        
                    <input type="hidden" name="idreserva" value="{{ reserva_info['_id'] }}">
                    
                    <input type="hidden" name="numquarto" value="{{ quarto_info['numquarto'] }}">
            
            
		    
		    <label for="aguasgas">Água sem gás (R$5,00)
			<input type="number" id="aguasgas" name="aguasgas" min="0" required>
		    </label>

		    <label for="aguacgas">Água com gás (R$6,00)
			<input type="number" id="aguacgas" name="aguacgas" min="0" required>
		    </label>

		    <label for="chocolate">Chocolate (R$10,00)
			<input type="number" id="chocolate" name="chocolate" min="0" required>
		    </label>

		    <label for="castanhas">Castanhas (R$12,00)
			<input type="number" id="castanhas" name="castanhas" min="0" required>
		    </label>

		    <label for="salgadinho">Salgadinho (R$8,00)
			<input type="number" id="salgadinho" name="salgadinho" min="0" required>
		    </label>

		    <button type="submit" class="submit-button">Registrar Consumo</button>
		</form>             
            </div>           
        </div>
       
        <!-- Exibe mensagens de erro ou sucesso -->
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul>
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}

        <script>
            function calcularValorTotal() {
                const diaria = ("{{quarto_info['preco']}}"); 
                const precosFrigobar = {
                    aguasgas: 5.0,
                    aguacgas: 6.0,
                    chocolate: 10.0,
                    castanhas: 12.0,
                    salgadinho: 8.0
                };
        
                const aguasgas = parseInt(document.getElementById("aguasgas").value) || 0;
                const aguacgas = parseInt(document.getElementById("aguacgas").value) || 0;
                const chocolate = parseInt(document.getElementById("chocolate").value) || 0;
                const castanhas = parseInt(document.getElementById("castanhas").value) || 0;
                const salgadinho = parseInt(document.getElementById("salgadinho").value) || 0;
        
                const totalFrigobar = (aguasgas * precosFrigobar.aguasgas) +
                                      (aguacgas * precosFrigobar.aguacgas) +
                                      (chocolate * precosFrigobar.chocolate) +
                                      (castanhas * precosFrigobar.castanhas) +
                                      (salgadinho * precosFrigobar.salgadinho);
        
                const valorTotal = totalFrigobar;
        
                document.getElementById("valor-total").innerText = "R$ " + valorTotal.toFixed(2);
            }
        </script>
        

    </body>
</html>
