
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hóspedes</title>
    <link rel="stylesheet" href="static/listaHospedes.css">
</head>

<body>
    <table>
        <thead>
            <tr>
             	<th>CPF</th>
                <th>Nome</th>
                <th>Telefone</th>
                <th>Endereço</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for hospede in hospedes %}
            <tr>
                <td>{{ hospede['cpf'] }}</td>
                <td>{{ hospede['nome'] }}</td>
                <td>{{ hospede['telefone'] }}</td>
                <td>{{ hospede['endereco'] }}</td>  
                <td>
                    <button class="edit-btn">Alterar</button>
                    <button class="delete-btn">Deletar</button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{{ url_for('cadastroHospede') }}">Cadastrar novo hóspede</a>
</body>


</html>
