<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meu Sistema de Pousada</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='navQuarto.css') }}">
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="navbar-logo">
                <a href="{{ url_for('index') }}">Pousada</a>
            </div>
            <ul class="navbar-links">
                <li><a href="{{ url_for('index') }}">Home</a></li>
                <li><a href="{{ url_for('listar_quartos') }}">Listar Quartos</a></li>
                <li><a href="{{ url_for('cadastrarQuarto') }}">Cadastrar Quarto</a></li>
            </ul>
        </nav>
    </header>
    
    <!-- Conteúdo da página -->
    {% block content %}{% endblock %}

</body>
</html>
