<!-- templates/reservas_ativas.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reservas Ativas</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='listaHospedes.css') }}">
</head>
<body>
    <h1>Reservas Ativas</h1>
    <table>
        <thead>
	    <tr>
		<th>CPF</th>
		<th>Nome do Hóspede</th>
		<th>Quarto</th>
		<th>Data de Início</th>
		<th>Data de Fim</th>
		<th>Estado</th>
	    </tr>
	</thead>
	<tbody>
	    {% for reserva in reservas_ativas %}
		<tr>
		    <td>{{ reserva['cpf_hospede'] }}</td>
		    <td>
		        {% if reserva['hospede_info'] %}
		            {{ reserva['hospede_info'][0]['nome'] }}  <!-- Acessa o nome do hóspede -->
		        {% else %}
		            Não encontrado
		        {% endif %}
		    </td>
		    <td>{{ reserva['numquarto'] }}</td>
		    <td>{{ reserva['datainicio'] }}</td>
		    <td>{{ reserva['datafim'] }}</td>
		    <td>{{ reserva['estado'] }}</td>
		</tr>
	    {% endfor %}
	</tbody>

    </table>
    <a href="{{ url_for('index') }}">Voltar</a>
</body>
</html>
